TEXTAREA {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; CURSOR: default; COLOR: #4f4f4f; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; CURSOR: default; COLOR: #4f4f4f; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
BODY {
	SCROLLBAR-FACE-COLOR: #e1e1e1; SCROLLBAR-HIGHLIGHT-COLOR: #e1e1e1; SCROLLBAR-SHADOW-COLOR: #8c8c8d; SCROLLBAR-ARROW-COLOR: #8c8c8d; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #efefef; SCROLLBAR-BASE-COLOR: #efefef
}
TEXTAREA {
	SCROLLBAR-FACE-COLOR: #e1e1e1; SCROLLBAR-HIGHLIGHT-COLOR: #e1e1e1; SCROLLBAR-SHADOW-COLOR: #8c8c8d; SCROLLBAR-ARROW-COLOR: #8c8c8d; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #efefef; SCROLLBAR-BASE-COLOR: #efefef
}
.shadow {
	FILTER: dropshadow(color=#CCCCCC,offx=1,offy=1,positive=1)
}
.white {
	FILTER: dropshadow(color=#FFFFFF,offx=1,offy=1,positive=1)
}
.content {
	LINE-HEIGHT: 150%; LETTER-SPACING: normal
}
.english {
	FONT-SIZE: 7pt; FONT-FAMILY: "Verdana"
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	COLOR: red; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003366; TEXT-DECORATION: underline
}
.but_index {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.but_blue {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ddefff
}
.menu-blue12 {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "????"
}
.menu-lightblue {
	FONT-SIZE: 12px; COLOR: #335e7d; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "????"
}
.word {
	FONT-SIZE: 11px; COLOR: #92aac2; LINE-HEIGHT: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.menu-link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4b324b; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: 0px
}
A:link {
	TEXT-DECORATION: none
}
.news {
	FONT-SIZE: 11px; COLOR: #34485c; LINE-HEIGHT: 13px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.word2 {
	FONT-SIZE: 11px; COLOR: #444444; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.news-13 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #626262; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial"
}
.news-12 {
	FONT-SIZE: 13px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-FAMILY: "Arial", "????"
}
.product-menu {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "????"
}
.icons {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "????"
}
.article {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; LETTER-SPACING: 0px
}
.file {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.content {
	FONT-SIZE: 12px; COLOR: #1f2c38; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.indexicon {
	FONT-SIZE: 12px; COLOR: #006699; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial", "????"; TEXT-DECORATION: none
}
.director {
	FONT-SIZE: 11px; COLOR: #5c9ee7; FONT-FAMILY: "Arial", "????"
}
.v {
	FONT-SIZE: 12px; LINE-HEIGHT: 140%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.wrong {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "????"
}
.name {
	FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "????"; TEXT-DECORATION: underline
}
.topmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4f4f4f; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.leftmenu {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rightnews {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial"
}
.bottom_name {
	FONT-SIZE: 12px; COLOR: #394f66; LINE-HEIGHT: 13px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.bottom_text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: "Arial"
}
.download-new {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5c81a5; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download-time {
	FONT-SIZE: 11px; COLOR: #757575; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_menu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_name {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #677ea3; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_show {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_from {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "Arial", "????"
}
.download_title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: "Arial"
}
.faq_title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_name1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "Arial", "????"
}
.faq_content {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.contact {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial"
}
.contact-1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.map-word {
	FONT-SIZE: 11px; COLOR: #4f4f4f; LINE-HEIGHT: 13px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.step {
	FONT-SIZE: 13px; COLOR: #003366
}
.TITLESS {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #cc3333
}
.test_title {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #74a273; FONT-FAMILY: "Arial", "????"
}
.download_name2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333e88; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_name3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #232323; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.menu_left {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4a719f; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial"
}
.copy {
	FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 12px; FONT-FAMILY: "Arial"
}
.article_1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial"
}
.Related {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial"
}
.notenn {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 14px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.article_wt {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.member {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.memberlink {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.total {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6d6d6d; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.download_name4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e90004; LINE-HEIGHT: 15px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.evaluate {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.maxwidth {
	FONT-SIZE: 12px; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.fixwidth {
	FONT-SIZE: 12px; WIDTH: 200px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.main2 {
	FONT-SIZE: 8pt; COLOR: #0064dc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.kimzbig {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.normal {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.menustyle {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: gray 0px solid; CURSOR: hand; COLOR: #34485c; LINE-HEIGHT: 13px; PADDING-TOP: 2px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.menuitem {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
A.kimzbig:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0064dc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.kimzbig2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.links {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0064dc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.links:hover {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A {
	COLOR: #0064dc; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.main2:hover {
	FONT-SIZE: 8pt; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.selectitem {
	FONT-SIZE: 12px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.linkselectitem {
	FONT-SIZE: 12px; CURSOR: hand; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.title {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "Times New Roman", "Arial", "Helvetica", "sans-serif"
}
.small {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.width70	{
	WIDTH: 70px;
}
.dlbig {
	FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "Helvetica", "sans-serif"
}
.dlxbig {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; COLOR: #000000; FONT-FAMILY: 'Arial Black' , Arial, Helvetica, Helvetica, sans-serif
}
.cH1 {
	FONT-SIZE: 16px; COLOR: #0000ff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.cH2 {
	FONT-SIZE: 14px; COLOR: #008080; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.cH3 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.cH4 {
	FONT-SIZE: 15px; COLOR: #000080; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.eH0 {
	FONT-SIZE: 22px; COLOR: #0000ff; FONT-FAMILY: 'Arial Black' , Arial, Helvetica, Helvetica, sans-serif
}
.eH1 {
	FONT-SIZE: 22px; COLOR: #0000ff; FONT-FAMILY: "Impact", "Arial", "Helvetica"
}
.eH2 {
	FONT-SIZE: 16pt; COLOR: #0000ff; FONT-FAMILY: "Verdana", "Arial", "Helvetica"
}
.eH3 {
	FONT-SIZE: 15pt; COLOR: #0000ff; FONT-FAMILY: "Verdana", "Arial", "Helvetica"
}
.eH4 {
	FONT-SIZE: 13pt; COLOR: #0000ff; FONT-FAMILY: "Verdana", "Arial", "Helvetica"
}
.tH1 {
	FONT-SIZE: 22px; COLOR: #0000ff; FONT-FAMILY: "Times New Roman", "Arial", "Helvetica"
}
.dlselectitem {
	FONT-SIZE: 12px; CURSOR: hand; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.dropnormal {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; POSITION: relative
}
A.bartxt:link {
	FONT: 10px "Verdana", "Arial", "Helvetica", "sans-serif"; COLOR: #ffffff; TEXT-DECORATION: none
}
A.top:visited {
	FONT: 10px "Verdana", "Arial", "Helvetica", "sans-serif"; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bartxt:hover {
	FONT: 10px "Verdana", "Arial", "Helvetica", "sans-serif"; COLOR: #ff0000; TEXT-DECORATION: none
}
A.top:active {
	FONT: 10px "Verdana", "Arial", "Helvetica", "sans-serif"; COLOR: #ff0000; TEXT-DECORATION: none
}
.bartxt {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; FONT: 10px "Verdana", "Arial", "Helvetica", "sans-serif"; COLOR: #ffffff
}
.greenBg
{
 BORDER-RIGHT: #95f7d1 1px solid; BORDER-TOP: #95f7d1 1px solid; FONT-WEIGHT: lighter; FONT-SIZE: 10px; BORDER-LEFT: #95f7d1 1px solid; BORDER-BOTTOM: #95f7d1 1px solid; FONT-FAMILY: verdana, arial, helvetica, san-serif; BACKGROUND-COLOR: #daf7ec;
}
.faqlink {
	FONT-SIZE: 12px; COLOR: #cc99ff; TEXT-DECORATION: none
}
.titlefont {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.word {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "?s???
.newsselectitem {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #FFFFFF ;  cursor:hand;text-decoration: none}
.mcontent {  font-size: 12px; line-height: 18px; color: #333333; font-family: "Arial"}
}
