.secret {
	FONT-SIZE: 2px; COLOR: white; FONT-FAMILY: verdana
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
B {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.green-dark {
	COLOR: #7a3
}
.blackText {
	COLOR: #000000
}
.black10Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.headingRedBold {
	FONT-WEIGHT: bold; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff5500; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.btnActive {
	FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; background-color:#cccccc;
}
.mTop5 {
	MARGIN-TOP: 5px
}
.pTop3 {
	PADDING-TOP: 5px
}
.pBot3 {
	PADDING-BOTTOM: 3px
}
.mLeft5 {
	MARGIN-LEFT: 5px
}
.heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff452c; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.height19 {
	HEIGHT: 19px
}
.white10heading {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 12px; PADDING-TOP: 3px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.greyBg {
	BACKGROUND-COLOR: #f6e3e1
}
.lightGreyBg {
	BACKGROUND-COLOR: #F6F6F5
}
.width200 {
	WIDTH: 200px
}
.width150 {
	WIDTH: 150px
}
.width100 {
	WIDTH: 100px
}
.width70
{
    WIDTH: 70px
}
.width40
{
    WIDTH: 40px
}
.mTop10 {
	MARGIN-TOP: 10px
}
.pLeft10 {
	PADDING-LEFT: 10px
}
.pLeft5 {
	PADDING-LEFT: 5px
}
FONT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; line-height:11px;
}
H3 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H4 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H5 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
STRONG {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
TD {
	FONT-WEIGHT: normal
}
BODY {
	BACKGROUND: white; MARGIN: 0px;
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
.error {
	COLOR: red
}
U {
	TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003399
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003399
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003399
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003399
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003399
}
H2 {
	FONT-SIZE: 14px; COLOR: #08656c
}
H3 {
	FONT-SIZE: 12px; COLOR: #003399
}
H4 {
	FONT-SIZE: 11px; COLOR: #08656c
}
H5 {
	FONT-SIZE: 10px; COLOR: #003399
}
TH {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
A {
	FONT-WEIGHT: normal; COLOR: #255db4; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: normal; COLOR: #255db4; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #255db4; TEXT-DECORATION: none
}
A:visited {
	COLOR: #255db4; TEXT-DECORATION: none
}
A:hover {
	COLOR: #255db4; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #255db4; TEXT-DECORATION: underline
}
A.Selected {
	FONT-WEIGHT: bold; COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:link {
	FONT-WEIGHT: bold; COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:visited {
	FONT-WEIGHT: bold; COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:hover {
	FONT-WEIGHT: bold; COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:hover {
	FONT-WEIGHT: bold; COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:visited {
	COLOR: #255db4; TEXT-DECORATION: none
}
A.Selected:hover {
	COLOR: #255db4; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #255db4; TEXT-DECORATION: underline
}
INPUT{
	FONT-WEIGHT: 100; FONT-SIZE: 13px; FONT-FAMILY: monospace
}
INPUT.width70 {
	WIDTH: 70px; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT.small {
	WIDTH: 150px; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT.smaller {
	WIDTH: 100px; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-WEIGHT: 100; FONT-SIZE: 13px; FONT-FAMILY: monospace
}
OL {
	MARGIN: 0px 0px 0px 25px
}
UL {
	MARGIN: 0px 0px 0px 25px
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px
}
.small {
	FONT-SIZE: 11px
}
.smaller {
	FONT-SIZE: 11px
}
.large {
	FONT-SIZE: 15px
}
.larger {
	FONT-SIZE: 17px
}
A.TopNav {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.TopNav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.TopNav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.TopNav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.TopNav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.TopNav:hover {
	FONT-WEIGHT: bold; COLOR: red
}
A.TopNav:hover {
	FONT-WEIGHT: bold; COLOR: red
}
INPUT.SearchBox {
	FONT-WEIGHT: 100; FONT-SIZE: 13px; WIDTH: 120px; FONT-FAMILY: Arial, sans-serif; HEIGHT: 20px
}
TD.RegFormBar {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: #0066cc; COLOR: #ffffff
}
A.blue10, A.blue10:Visited, A.blue10:Active, A.blue10:Link
{
	text-decoration:underline;
	color: #338899;
}

A.blue10:Hover
{
	color: #FF5500;
}